&tim2 {
    status = "okay";

    pwm2: pwm {
        status = "okay";
        pinctrl-0 = <&pc5_pwm>;
        pinctrl-names = "default";
    };
};

&tim1 {
    status = "okay";

    pwm1: pwm {
        status = "okay";
        pinctrl-0 = <&pc6_pwm &pc7_pwm>;
        pinctrl-names = "default";
    };
};

&pinctrl {
    pc5_pwm: pwm_pc5 {
        group1 {
            pinmux = <TIM2_CH1_PC5_1>;
            drive-push-pull;
            output-high;
            slew-rate = "max-speed-10mhz";
        };
    };

    pc6_pwm: pc7_pwm: tim1_ch1_ch2_pwm {
        group1 {
            /* Both pins share TIM1 remap 1 - must be in the same node to avoid AFIO conflict */
            pinmux = <TIM1_CH1_PC6_1>,
                     <TIM1_CH2_PC7_1>;
            drive-push-pull;
            output-high;
            slew-rate = "max-speed-10mhz";
        };
    };
};
